.chatBox {
    z-index: 1000000;
    opacity: 0.95;
    position: fixed;
    width: 95%;
    max-width: 600px;
    min-height: 200px;
    font-size: 0.9rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    margin: 0;
    color: #fff;
    background-color: rgb(51, 77, 97);
    border-radius: 5px 5px 0 0;
    border: 2px solid #7aacba;
    border-bottom: none;
}

/* Mobile Large (481px+) */
@media (min-width: 481px) {
    .chatBox {
        width: 90%;
        bottom: 1em;
        border-radius: 5px;
        border-bottom: 2px solid #7aacba;
    }
}

/* Tablet (641px+) */
@media (min-width: 641px) {
    .chatBox {
        width: 80%;
        bottom: 2em;
    }
}

/* Desktop (1025px+) */
@media (min-width: 1025px) {
    .chatBox {
        width: 600px;
        bottom: 10em;
    }
}

.messages {
    display: flex;
    flex-direction: column;
    height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 15px;
}

/* Mobile Large (481px+) */
@media (min-width: 481px) {
    .messages {
        height: 35vh;
    }
}

/* Tablet (641px+) */
@media (min-width: 641px) {
    .messages {
        height: 30vh;
    }
}

/* Desktop (1025px+) */
@media (min-width: 1025px) {
    .messages {
        height: 180px;
    }
}

/* make the scrollbar transparent with a white thumb */
.messages::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}

.send {
    position: absolute;
    background-color:  rgb(51, 77, 97);
    bottom: 10px;
    color: #fff;
    width: calc(100% - 20px);
}

/* set the input0 text color to white */
.send input {
    background-color: rgb(55, 74, 103);
    color: #fff;
    border-radius: 5px;
    border: 2px solid #7aacba;
    width: calc(100% - 60px);
    display: inline-block;
    padding: 10px;
    font-size: 16px;
}

/* Desktop (1025px+) */
@media (min-width: 1025px) {
    .send input {
        width: calc(100% - 90px);
    }
}

.send button {
    background-color: rgb(78, 141, 193);
    color: #fff;
    border: 2px solid #7aacba;
    border-radius: 5px;
    width: 50px;
    height: 44px;
    margin-left: 10px;
    font-size: 16px;
}