.SideMenu {
    position: fixed;
    left: 0;
    top: auto;
    bottom: 0;
    height: 50vh;
    width: 60px;
    border: 2px solid #7aacba;
    border-radius: 5px 5px 0 0;
    backdrop-filter: blur(22.5px);
    box-sizing: border-box;
    transform: none;
    user-select: none;
    z-index: 1000;
    transition: width 0.3s ease;
}

/* Mobile Large (481px+) */
@media (min-width: 481px) {
    .SideMenu {
        height: 55vh;
        width: 80px;
    }
}

/* Tablet (641px+) */
@media (min-width: 641px) {
    .SideMenu {
        top: 15vh;
        bottom: auto;
        height: 60vh;
        width: 100px;
        transform: perspective(50vh) rotateY(2deg);
        border-radius: 5px;
    }
}

/* Desktop (1025px+) */
@media (min-width: 1025px) {
    .SideMenu {
        left: 2em;
        top: 20vh;
        height: 39em;
        transform: perspective(70vh) rotateY(5deg);
    }
}

.LineDivision {
    border: 2px solid #7aacba;
    width: 98%;
    opacity: 0.5;
    margin-bottom: 0;
    margin-top: 0;
}

.MenuImg {
    display: inline-block;
    width: 100%;
    opacity: 1;
    user-select: none;
    text-align: center;
    cursor:pointer;
    border-right: '';

    margin:auto;
    src: '';
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    margin-top: .5em;
}

.MenuOption {
    width: 3.5em;
    margin: .5em;
    margin-bottom: 1em;
}

.MenuOptionSelected {
    opacity: 1;
    width: 100%;
    background-color: aqua;
}

.MenuImgActive {
    opacity: 1;
    display: inline-block;
    width: 100%;
    user-select: none;
    text-align: center;
    cursor:pointer;
    border-right: '';
    src: '';
    display: flex;
    background-color: aqua;
}

.ShuffleOption {
    border-right: '';
    opacity: 1;
    height: 2.5em;
    width: 2.5em;
    min-height: 44px;
    min-width: 44px;
    padding: 0em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.ShuffleOptionActive {
    border-right: '';
    opacity: 1;
    height: 2.5em;
    width: 2.5em;
    min-height: 44px;
    min-width: 44px;
    padding: 0em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.MenuTitle {
    display: inline-block;
    text-align: center;
    height: 3.5em;
    width: 100%;
    text-align: center;
    margin: 0 auto .25em auto;
    user-select: none;
}
.MenuImg:hover, .ShuffleOption:hover {
    opacity: 1;
    background-color: aqua;
    width: 3.5em;
}

.LoadingContainer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* centered vertically and horizontally, about 10em big */
.Loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(1.0, 1.0, 1.0, 0.5);
    height: min(30vh, 30vw);
    width: min(30vh, 30vw);
    min-height: 10em;
    min-width: 10em;
    border-radius: 1em;
}

.LoadingText {
    color: #FFFFFF;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0;
}