.SelectorContainerPos {
  position: fixed;
  top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #7aacba;
  border-radius: 5px 5px 0 0;
  backdrop-filter: blur(22.5px);
  transform: none;
  z-index: 1000;
  cursor: pointer;
}

/* Mobile Large (481px+) */
@media (min-width: 481px) {
  .SelectorContainerPos {
    height: 55vh;
    right: 5%;
    left: 5%;
    width: 90%;
  }
}

/* Tablet (641px+) */
@media (min-width: 641px) {
  .SelectorContainerPos {
    top: 15vh;
    bottom: auto;
    right: 1em;
    left: auto;
    height: 60vh;
    width: 40%;
    transform: perspective(50vh) rotateY(-2deg);
    border-radius: 5px;
  }
}

/* Desktop (1025px+) */
@media (min-width: 1025px) {
  .SelectorContainerPos {
    top: 20vh;
    right: 2em;
    width: auto;
    transform: perspective(70vh) rotateY(-5deg);
  }
}

.selector-container {
  background: rgba(56, 64, 78, 0.1);
  border-radius: .25em;
  user-select: none;
  flex: 1;
}

.selector-button {
  opacity: 0.9;
}

.selector-button:hover {
  background-color: aqua;
  opacity: 1;
}

.active {
  opacity: 1;
  background-color: aqua;
}

.SelectorContainerPos::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Track */
.SelectorContainerPos::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.SelectorContainerPos::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .25);
}

/* Handle on hover */
.SelectorContainerPos::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, .5);
}

.selectorButton {
  padding: .25em;
  display: block;
  position: relative;
}

.trait-icon {
    height: 4em;
    margin: auto;
    user-select: none;
    position: relative;
}

.tickStyle {
  width: 20%;
  position: absolute;
  right: -15px;
  top: -15px;
}

.tickStyleInActive {
  display: none;
}

.loading-trait {
  height: 4em;
  width: 4em;
  text-align: center;
  line-height: 52px;
  background-color: rgba(16, 16, 16, 0.3);
  border-radius: 1em;
  z-index: 999;
  position: absolute;
  display: block;
  color: #efefef;
  top: 0;
  cursor: wait;
}

.icon-hidden {
  visibility: hidden;
}

.loading-trait-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 98%;
  background-color: rgba(16, 16, 16, 0.3);
  border-radius: 1em;
  cursor: wait;
}

.loading-trait-overlay-show {
  display: none;
}